build
node_modules

actions/versionate-docs/lib
actions/versionate-docs/node_modules

actions/platform-test/lib
actions/platform-test/node_modules

packages/**/jest.config.*
examples/**

packages/plasma-temple/*
!packages/plasma-temple/src

packages/plasma-basic-template/*

packages/plasma-shop-template/*
